### Recommendations with MovieTweetings: Most Popular Recommendation

Now that you have created the necessary columns we will be using throughout the rest of the lesson on creating recommendations, let's get started with the first of our recommendations.

To get started, read in the libraries and the two datasets you will be using throughout the lesson using the code below.

In [465]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tests as t

%matplotlib inline

# Read in the datasets
movies = pd.read_csv('movies_clean.csv')
reviews = pd.read_csv('reviews_clean.csv')
del movies['Unnamed: 0']
del reviews['Unnamed: 0']

#### 1. How To Find The Most Popular Movies

For this notebook, we have a single task.  The task is that no matter the user, we need to provide a list of the recommendations based on simply the most popular items.

For this task, we will consider what is "most popular" based on the following criteria:

* A movie with the highest average rating is considered best
* With ties, movies that have more ratings are better
* A movie must have a minimum of 5 ratings to be considered among the best movies
* If movies are tied in their average rating and number of ratings, the ranking is determined by the movie that is the most recent rating

With these criteria, the goal for this notebook is to take a **user_id** and provide back the **n_top** recommendations.  Use the function below as the scaffolding that will be used for all the future recommendations as well.

In [475]:
# merge two tables
df =movies.merge(reviews.iloc[:,:4])
df.head()

,movie_id,movie,genre,date,1800's,1900's,2000's,History,News,Horror,...,Action,Documentary,Animation,Comedy,Short,Western,Thriller,user_id,rating,timestamp
0,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894,1,0,0,0,0,0,...,0,1,0,0,1,0,0,40425,5,1396981211
1,10,La sortie des usines Lumière (1895),Documentary|Short,1895,1,0,0,0,0,0,...,0,1,0,0,1,0,0,48654,10,1412878553
2,12,The Arrival of a Train (1896),Documentary|Short,1896,1,0,0,0,0,0,...,0,1,0,0,1,0,0,38857,10,1439248579
3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895,1,0,0,0,0,0,...,0,0,0,0,0,0,0,30852,8,1488189899
4,91,Le manoir du diable (1896),Short|Horror,1896,1,0,0,0,0,1,...,0,0,0,0,1,0,0,9720,6,1385233195

In [364]:
# filter out < 5 rates
df_filter=df[df['movie_id'].isin(df['movie_id'].unique()[df.groupby('movie_id')['rating'].count()>=5])]
df_filter.head()

,movie_id,movie,genre,date,1800's,1900's,2000's,History,News,Horror,...,Action,Documentary,Animation,Comedy,Short,Western,Thriller,user_id,rating,timestamp
5,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,471,10,1437579236
6,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,3739,9,1434226311
7,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,6581,9,1474824191
8,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,9970,8,1414348320
9,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,14678,7,1440606444

In [365]:
df_filter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 677742 entries, 5 to 712306
Data columns (total 38 columns):
movie_id       677742 non-null int64
movie          677742 non-null object
genre          677715 non-null object
date           677742 non-null int64
1800's         677742 non-null int64
1900's         677742 non-null int64
2000's         677742 non-null int64
History        677742 non-null int64
News           677742 non-null int64
Horror         677742 non-null int64
Musical        677742 non-null int64
Film-Noir      677742 non-null int64
Mystery        677742 non-null int64
Adventure      677742 non-null int64
Sport          677742 non-null int64
War            677742 non-null int64
Music          677742 non-null int64
Reality-TV     677742 non-null int64
Adult          677742 non-null int64
Crime          677742 non-null int64
Family         677742 non-null int64
Drama          677742 non-null int64
Talk-Show      677742 non-null int64
Biography      677742 non-null int64
Sci-Fi         677742 non-null int64
Fantasy        677742 non-null int64
Romance        677742 non-null int64
Game-Show      677742 non-null int64
Action         677742 non-null int64
Documentary    677742 non-null int64
Animation      677742 non-null int64
Comedy         677742 non-null int64
Short          677742 non-null int64
Western        677742 non-null int64
Thriller       677742 non-null int64
user_id        677742 non-null int64
rating         677742 non-null int64
timestamp      677742 non-null int64
dtypes: int64(36), object(2)
memory usage: 201.7+ MB

In [366]:
s=df_filter.groupby('movie_id')['rating'].mean()
d={'movie_id':s.keys(),
'means':s.values}
#pd.DataFrame(d)

In [367]:
# average rating
df_avg=df_filter.merge(pd.DataFrame(d))

In [368]:
# With ties, movies that have more ratings are better
r=df_avg['movie_id'].value_counts()
d2={'movie_id':r.keys(),
    'counts':r.values}
df_count=df_avg.merge(pd.DataFrame(d2))

In [369]:
df_count.head()

,movie_id,movie,genre,date,1800's,1900's,2000's,History,News,Horror,...,Animation,Comedy,Short,Western,Thriller,user_id,rating,timestamp,means,counts
0,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,1,0,0,471,10,1437579236,8.368421,19
1,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,1,0,0,3739,9,1434226311,8.368421,19
2,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,1,0,0,6581,9,1474824191,8.368421,19
3,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,1,0,0,9970,8,1414348320,8.368421,19
4,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,1,0,0,14678,7,1440606444,8.368421,19

In [370]:
# the movie that is the most recent rating
rec=df_count.groupby(['movie_id'])['timestamp'].max()
d3={'movie_id':rec.index,
    'timestamp':rec.values}
df_recent=df_count.merge(pd.DataFrame(d3),how='right')

In [371]:
# sourted by avg rating and count rates
df_recent=df_recent.sort_values(by=['means','counts','timestamp'], ascending=False).reset_index(drop=True)

> a better solution

In [503]:
means=df.groupby(['movie_id','movie'])['rating'].mean()
count=df.groupby(['movie_id','movie'])['rating'].count()
time=df.groupby(['movie_id','movie'])['timestamp'].max()

In [504]:
df_result=pd.DataFrame({'means':means,'count':count,'time':time})
df_result.head()

,,means,count,time
movie_id,movie,,,
8,Edison Kinetoscopic Record of a Sneeze (1894),5.0,1,1396981211
10,La sortie des usines Lumière (1895),10.0,1,1412878553
12,The Arrival of a Train (1896),10.0,1,1439248579
25,The Oxford and Cambridge University Boat Race (1895),8.0,1,1488189899
91,Le manoir du diable (1896),6.0,1,1385233195

In [505]:
df_result=df_result[df_result['count']>=5].reset_index()
df_result.head()

,movie_id,movie,means,count,time
0,417,Le voyage dans la lune (1902),8.368421,19,1530047326
1,6864,Intolerance: Love's Struggle Throughout the Ag...,8.800000,5,1508630790
2,10323,Das Cabinet des Dr. Caligari (1920),8.210526,19,1506666124
3,12349,The Kid (1921),8.500000,60,1526267924
4,12364,Körkarlen (1921),9.625000,8,1475259604

In [516]:
list(df_result.sort_values(by=['means','count','time'],ascending=False).iloc[:5,1].values)

['MSG 2 the Messenger (2015)',
 'Avengers: Age of Ultron Parody (2015)',
 'Sorry to Bother You (2018)',
 'Selam (2013)',
 "Quiet Riot: Well Now You're Here, There's No Way Back (2014)"]

In [561]:
def popular_recommendations(user_id, n_top):
    '''
    INPUT:
    user_id - the user_id of the individual you are making recommendations for
    n_top - an integer of the number recommendations you want back
    OUTPUT:
    top_movies - a list of the n_top recommended movies by movie title in order best to worst
    '''
    means=df.groupby(['movie_id','movie'])['rating'].mean()
    count=df.groupby(['movie_id','movie'])['rating'].count()
    time=df.groupby(['movie_id','movie'])['timestamp'].max()
    # convert df
    df_result=pd.DataFrame({'means':means,'count':count,'timestamp':time})
    # filter >=5
    df_result=df_result[df_result['count']>=5].reset_index()
    # order the result
    result=df_result.sort_values(by=['means','count','timestamp'],ascending=False)
    # a list of the n_top recommended movies by movie title in order best to worst
    top_movies=list(result.iloc[:n_top,1].values)
    return top_movies # a list of the n_top movies as recommended

Usint the three criteria above, you should be able to put together the above function.  If you feel confident in your solution, check the results of your function against our solution. On the next page, you can see a walkthrough and you can of course get the solution by looking at the solution notebook available in this workspace.

In [562]:
# Put your solutions for each of the cases here

# Top 20 movies recommended for id 1

recs_20_for_1 = popular_recommendations(1,20)

# Top 5 movies recommended for id 53968
recs_5_for_53968 = popular_recommendations(53968,5)

# Top 100 movies recommended for id 70000
recs_100_for_70000 = popular_recommendations(70000,100)

# Top 35 movies recommended for id 43
recs_35_for_43 = popular_recommendations(43,35)

In [563]:
### You Should Not Need To Modify Anything In This Cell
ranked_movies = t.create_ranked_df(movies, reviews) # only run this once - it is not fast

# check 1 
assert t.popular_recommendations('1', 20, ranked_movies) == recs_20_for_1,  "The first check failed..."
# check 2
assert t.popular_recommendations('53968', 5, ranked_movies) == recs_5_for_53968,  "The second check failed..."
# check 3
assert t.popular_recommendations('70000', 100, ranked_movies) == recs_100_for_70000,  "The third check failed..."
# check 4
assert t.popular_recommendations('43', 35, ranked_movies) == recs_35_for_43,  "The fourth check failed..."

print("If you got here, looks like you are good to go!  Nice job!")

If you got here, looks like you are good to go!  Nice job!

**Notice:** This wasn't the only way we could have determined the "top rated" movies.  You can imagine that in keeping track of trending news or trending social events, you would likely want to create a time window from the current time, and then pull the articles in the most recent time frame.  There are always going to be some subjective decisions to be made.  

If you find that no one is paying any attention to your most popular recommendations, then it might be time to find a new way to recommend, which is what the next parts of the lesson should prepare us to do!

### Part II: Adding Filters

Now that you have created a function to give back the **n_top** movies, let's make it a bit more robust.  Add arguments that will act as filters for the movie **year** and **genre**.  

Use the cells below to adjust your existing function to allow for **year** and **genre** arguments as **lists** of **strings**.  Then your ending results are filtered to only movies within the lists of provided years and genres (as `or` conditions).  If no list is provided, there should be no filter applied.

You can adjust other necessary inputs as necessary to retrieve the final results you are looking for!

Try writing a few tests against the test function in our test function.  Below returns the top 20 movies for user 1 based on the specified year and genre filters.  Does yours return the same?

In [434]:
years=['2015', '2016', '2017', '2018']
genres=['History']
yearfilter=df_recent[df_recent['date'].isin(years)]
genresfilter=yearfilter[yearfilter[genres].sum(axis=1)>0]
genresfilter

,movie_id,movie,genre,date,1800's,1900's,2000's,History,News,Horror,...,Animation,Comedy,Short,Western,Thriller,user_id,rating,timestamp,means,counts
53,6316138,Ayla: The Daughter of War (2017),Drama|History|War,2017,0,0,1,1,0,0,...,0,0,0,0,0,3380,5,1529705949,9.200000,35
84,5098836,I Believe in Miracles (2015),Documentary|History|Sport,2015,0,0,1,1,0,0,...,0,0,0,0,0,46052,9,1524867219,9.100000,10
206,6223974,The Farthest (2017),Documentary|History,2017,0,0,1,1,0,0,...,0,0,0,0,0,20977,10,1528689985,8.833333,6
348,4010918,Sado (2015),Drama|History,2015,0,0,1,1,0,0,...,0,0,0,0,0,4056,10,1521149142,8.666667,9
438,6068960,Hatred (2016),Drama|History|War,2016,0,0,1,1,0,0,...,0,0,0,0,0,18052,7,1512677796,8.600000,5
748,4964310,Kincsem (2017),Adventure|Drama|History,2017,0,0,1,1,0,0,...,0,0,0,0,0,15862,8,1513318937,8.400000,5
891,2168180,Nise - O Coração da Loucura (2015),Biography|Drama|History,2015,0,0,1,1,0,0,...,0,0,0,0,0,28288,8,1502442730,8.333333,9
898,6794424,LA 92 (2017),Documentary|History,2017,0,0,1,1,0,0,...,0,0,0,0,0,45903,8,1521379672,8.333333,6
943,1398426,Straight Outta Compton (2015),Biography|Drama|History,2015,0,0,1,1,0,0,...,0,0,0,0,0,43405,7,1528614871,8.306977,645
953,3449292,Manjhi: The Mountain Man (2015),Biography|Drama|History,2015,0,0,1,1,0,0,...,0,0,0,0,0,52959,7,1528028349,8.300000,10
1177,3587396,Only the Dead (2015),Documentary|Biography|History,2015,0,0,1,1,0,0,...,0,0,0,0,0,19736,10,1475357353,8.200000,5
1200,1895587,Spotlight (2015),Biography|Drama|History,2015,0,0,1,1,0,0,...,0,0,0,0,0,39336,9,1524271524,8.193191,1175
1236,3841424,Under sandet (2015),Drama|History|War,2015,0,0,1,1,0,0,...,0,0,0,0,0,26875,9,1528061034,8.169231,130
1566,4387040,Airlift (2016),Action|Drama|History,2016,0,0,1,1,0,0,...,0,0,0,0,0,41320,6,1510160139,8.033898,59
1817,5013056,Dunkirk (2017),Action|Drama|History,2017,0,0,1,1,0,0,...,0,0,0,0,0,51864,9,1529892739,7.982695,1618
1854,6878038,Taeksi Woonjunsa (2017),Action|Drama|History,2017,0,0,1,1,0,0,...,0,0,0,0,0,29257,9,1529707684,7.953125,64
1873,5969696,The Battleship Island (2017),Action|Drama|History,2017,0,0,1,1,0,0,...,0,0,0,0,0,2800,6,1529845586,7.944444,18
1996,4555426,Darkest Hour (2017),Biography|Drama|History,2017,0,0,1,1,0,0,...,0,0,0,0,0,25170,10,1529894820,7.895277,487
2119,3518012,Best of Enemies (2015),Documentary|History|News,2015,0,0,1,1,1,0,...,0,0,0,0,0,39885,7,1524201533,7.857143,14
2334,6299040,The Ghazi Attack (2017),Drama|History,2017,0,0,1,1,0,0,...,0,0,0,0,0,51712,6,1503345486,7.800000,5
2404,3272570,All Things Must Pass: The Rise and Fall of Tow...,Documentary|History|Music,2015,0,0,1,1,0,0,...,0,0,0,0,0,46191,8,1522436950,7.785714,14
2671,4005402,Colonia (2015),Drama|History|Romance,2015,0,0,1,1,0,0,...,0,0,0,0,0,1044,8,1529307356,7.703226,155
2716,5066556,Daeho (2015),Action|Adventure|History,2015,0,0,1,1,0,0,...,0,0,0,0,0,11963,9,1486946441,7.692308,13
2752,1083452,Eddie the Eagle (2016),Biography|Drama|History,2016,0,0,1,1,0,0,...,0,0,0,0,0,35629,8,1528748913,7.679688,256
2823,3512072,Kainan 1890 (2015),History,2015,0,0,1,1,0,0,...,0,0,0,0,0,16526,7,1474656637,7.666667,6
2844,4190530,Anthropoid (2016),Biography|History|Thriller,2016,0,0,1,1,0,0,...,0,0,0,0,1,18927,8,1526236362,7.658537,164
3255,4572514,Patriots Day (2016),Drama|History|Thriller,2016,0,0,1,1,0,0,...,0,0,0,0,1,30919,8,1526142803,7.544586,314
3418,2534634,Miekkailija (2015),Drama|History|Sport,2015,0,0,1,1,0,0,...,0,0,0,0,0,51255,8,1503388110,7.500000,10
3532,490215,Silence (2016),Drama|History,2016,0,0,1,1,0,0,...,0,0,0,0,0,22632,8,1529039664,7.474747,297
3546,3077214,Suffragette (2015),Biography|Drama|History,2015,0,0,1,1,0,0,...,0,0,0,0,0,20977,9,1525047694,7.469697,132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4297,3501416,Assassination (2015),Drama|History|Thriller,2015,0,0,1,1,0,0,...,0,0,0,0,1,3844,6,1528737684,7.266667,15
4305,2006295,The 33 (2015),Biography|Drama|History,2015,0,0,1,1,0,0,...,0,0,0,0,0,29986,6,1529395182,7.263959,197
4323,5816682,Victoria and Abdul (2017),Biography|Drama|History,2017,0,0,1,1,0,0,...,0,0,0,0,0,52764,8,1527457310,7.256410,78
4376,3735246,Bajirao Mastani (2015),Drama|History|Romance,2015,0,0,1,1,0,0,...,0,0,0,0,0,10474,9,1500505192,7.244444,45
4467,1730768,The Zookeeper's Wife (2017),Biography|Drama|History,2017,0,0,1,1,0,0,...,0,0,0,0,0,35288,7,1528227144,7.214286,70
4605,5935704,Padmaavat (2018),Drama|History|Romance,2018,0,0,1,1,0,0,...,0,0,0,0,0,10446,8,1529473257,7.187500,16
4659,4645330,Denial (2016),Biography|Drama|History,2016,0,0,1,1,0,0,...,0,0,0,0,0,45038,1,1514805767,7.166667,42
4820,1135989,A Tale of Love and Darkness (2015),Biography|Drama|History,2015,0,0,1,1,0,0,...,0,0,0,0,0,12313,7,1512937377,7.125000,8
5043,2025690,The Finest Hours (2016),Action|Drama|History,2016,0,0,1,1,0,0,...,0,0,0,0,0,2280,7,1529321124,7.052239,268
5071,4882376,First They Killed My Father: A Daughter of Cam...,Biography|Drama|History,2017,0,0,1,1,0,0,...,0,0,0,0,0,39312,7,1521042577,7.040000,25
5261,5270948,Chappaquiddick (2017),Drama|History|Thriller,2017,0,0,1,1,0,0,...,0,0,0,0,1,1347,7,1527488667,7.000000,7
5266,6537238,Salyut-7 (2017),Action|Drama|History,2017,0,0,1,1,0,0,...,0,0,0,0,0,52764,10,1523117134,7.000000,7
5527,420293,The Stanford Prison Experiment (2015),Biography|Drama|History,2015,0,0,1,1,0,0,...,0,0,0,0,0,23865,7,1524415304,6.925532,94
5697,4206218,The Propaganda Game (2015),Documentary|History,2015,0,0,1,1,0,0,...,0,0,0,0,0,11793,8,1521980906,6.866667,15
5714,4939066,In-cheon sang-ryuk jak-jeon (2016),Action|Drama|History,2016,0,0,1,1,0,0,...,0,0,0,0,0,46191,7,1522365829,6.857143,21
5794,5033790,Banking on Bitcoin (2016),Documentary|History|News,2016,0,0,1,1,1,0,...,0,0,0,0,0,3270,7,1517214651,6.833333,12
5816,5207204,Dvadtsat vosem panfilovtsev (2016),Action|Drama|History,2016,0,0,1,1,0,0,...,0,0,0,0,0,8193,7,1509063676,6.833333,6
5915,1413492,12 Strong (2018),Action|Drama|History,2018,0,0,1,1,0,0,...,0,0,0,0,0,37124,8,1529888815,6.800000,120
6330,1837636,Queen of the Desert (2015),Biography|Drama|History,2015,0,0,1,1,0,0,...,0,0,0,0,0,46849,7,1517850898,6.666667,24
6439,3726704,Experimenter (2015),Biography|Drama|History,2015,0,0,1,1,0,0,...,0,0,0,0,0,42608,6,1528845428,6.640000,25
6488,3513054,Last Days in the Desert (2015),Adventure|Drama|History,2015,0,0,1,1,0,0,...,0,0,0,0,0,32975,5,1509996584,6.625000,8
6594,3451720,Francofonia (2015),Documentary|Drama|History,2015,0,0,1,1,0,0,...,0,0,0,0,0,18052,5,1478959820,6.600000,5
6750,3118874,Back in Time (2015),Documentary|Family|History,2015,0,0,1,1,0,0,...,0,0,0,0,0,51553,8,1516672718,6.545455,22
7006,2093991,Elvis &amp; Nixon (2016),Comedy|History,2016,0,0,1,1,0,0,...,0,1,0,0,0,21910,7,1515805184,6.452381,42
7218,4703048,6 Days (2017),Action|Drama|History,2017,0,0,1,1,0,0,...,0,0,0,0,0,49290,5,1529244785,6.388889,36
7321,5175450,Mark Felt: The Man Who Brought Down the White ...,Biography|Drama|History,2017,0,0,1,1,0,0,...,0,0,0,0,0,43493,7,1525056557,6.333333,21
7805,2674454,Churchill (2017),Biography|Drama|History,2017,0,0,1,1,0,0,...,0,0,0,0,0,20333,6,1521409248,6.150000,20
8032,2638144,Ben-Hur (2016),Adventure|Drama|History,2016,0,0,1,1,0,0,...,0,0,0,0,0,11105,7,1529449607,6.029703,101
8969,5466186,Entebbe (2018),Crime|Drama|History,2018,0,0,1,1,0,0,...,0,0,0,0,0,41365,4,1529692880,5.428571,7
9501,3014910,Altamira (2016),Drama|History,2016,0,0,1,1,0,0,...,0,0,0,0,0,45265,7,1500939586,4.800000,5

In [538]:
df

,movie_id,movie,genre,date,1800's,1900's,2000's,History,News,Horror,...,Action,Documentary,Animation,Comedy,Short,Western,Thriller,user_id,rating,timestamp
0,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894,1,0,0,0,0,0,...,0,1,0,0,1,0,0,40425,5,1396981211
1,10,La sortie des usines Lumière (1895),Documentary|Short,1895,1,0,0,0,0,0,...,0,1,0,0,1,0,0,48654,10,1412878553
2,12,The Arrival of a Train (1896),Documentary|Short,1896,1,0,0,0,0,0,...,0,1,0,0,1,0,0,38857,10,1439248579
3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895,1,0,0,0,0,0,...,0,0,0,0,0,0,0,30852,8,1488189899
4,91,Le manoir du diable (1896),Short|Horror,1896,1,0,0,0,0,1,...,0,0,0,0,1,0,0,9720,6,1385233195
5,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,471,10,1437579236
6,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,3739,9,1434226311
7,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,6581,9,1474824191
8,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,9970,8,1414348320
9,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,14678,7,1440606444
10,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,17264,9,1439146485
11,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,20177,7,1424381014
12,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,23993,10,1529844360
13,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,24933,9,1456108850
14,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,25856,10,1397334145
15,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,31202,7,1392806422
16,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,33203,9,1477234896
17,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,39953,10,1418920963
18,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,40425,7,1442281357
19,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,47160,8,1455494404
20,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,47433,9,1453823446
21,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,47839,8,1414595156
22,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,50597,6,1433527435
23,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,0,...,0,0,0,0,1,0,0,52959,7,1530047326
24,439,The Great Train Robbery (1903),Short|Action|Crime,1903,0,1,0,0,0,0,...,1,0,0,0,1,0,0,9970,7,1414365165
25,439,The Great Train Robbery (1903),Short|Action|Crime,1903,0,1,0,0,0,0,...,1,0,0,0,1,0,0,20177,5,1424384251
26,439,The Great Train Robbery (1903),Short|Action|Crime,1903,0,1,0,0,0,0,...,1,0,0,0,1,0,0,26184,8,1529809149
27,439,The Great Train Robbery (1903),Short|Action|Crime,1903,0,1,0,0,0,0,...,1,0,0,0,1,0,0,47839,7,1414595407
28,443,"Hiawatha, the Messiah of the Ojibway (1903)",NaN,1903,0,1,0,0,0,0,...,0,0,0,0,0,0,0,20392,8,1477256912
29,628,The Adventures of Dollie (1908),Action|Short,1908,0,1,0,0,0,0,...,1,0,0,0,1,0,0,16415,5,1381446481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712307,8079546,Artist at Work: Annie Wood (2018),NaN,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,0,25764,10,1527324944
712308,8079546,Artist at Work: Annie Wood (2018),NaN,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,0,33737,10,1527300931
712309,8080268,Rock 'n' Roll Guns for Hire: The Story of the ...,NaN,2017,0,0,1,0,0,0,...,0,0,0,0,0,0,0,35288,8,1520011742
712310,8080556,The Director and The Jedi (2018),Documentary,2018,0,0,1,0,0,0,...,0,1,0,0,0,0,0,34049,8,1520944691
712311,8088944,Ban-deu-si Jab-neun-da (2017),Drama|Thriller,2017,0,0,1,0,0,0,...,0,0,0,0,0,0,1,30599,7,1520616222
712312,8088944,Ban-deu-si Jab-neun-da (2017),Drama|Thriller,2017,0,0,1,0,0,0,...,0,0,0,0,0,0,1,32958,10,1521633115
712313,8092252,Be with You (2018),Fantasy|Romance,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,0,32215,7,1529824459
712314,8092252,Be with You (2018),Fantasy|Romance,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,0,39312,7,1527089303
712315,8102036,Kevin Smith: Silent But Deadly (2018),Comedy,2018,0,0,1,0,0,0,...,0,0,0,1,0,0,0,3496,7,1528311560
712316,8106570,The Rachel Divide (2018),Documentary,2018,0,0,1,0,0,0,...,0,1,0,0,0,0,0,46052,7,1526766035
712317,8119752,Gon-ji-am (2018),Horror,2018,0,0,1,0,0,1,...,0,0,0,0,0,0,0,9199,8,1527343464
712318,8119752,Gon-ji-am (2018),Horror,2018,0,0,1,0,0,1,...,0,0,0,0,0,0,0,31435,7,1527986890
712319,8119752,Gon-ji-am (2018),Horror,2018,0,0,1,0,0,1,...,0,0,0,0,0,0,0,53013,6,1527885533
712320,8123286,Dizájneren (2016),NaN,2016,0,0,1,0,0,0,...,0,0,0,0,0,0,0,18203,7,1526327158
712321,8140564,My Perfect You (2018),Drama|Romance,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,0,53322,7,1527337839
712322,8144778,The Redeemed and the Dominant: Fittest on Eart...,Documentary,2018,0,0,1,0,0,0,...,0,1,0,0,0,0,0,5252,7,1529605756
712323,8144778,The Redeemed and the Dominant: Fittest on Eart...,Documentary,2018,0,0,1,0,0,0,...,0,1,0,0,0,0,0,51462,7,1522591088
712324,8144868,Pailalim (2017),NaN,2017,0,0,1,0,0,0,...,0,0,0,0,0,0,0,43889,4,1523796727
712325,8206708,Carry on Jatta 2 (2018),Comedy,2018,0,0,1,0,0,0,...,0,0,0,1,0,0,0,16732,9,1528503921
712326,8289196,John McCain: For Whom the Bell Tolls (2018),Documentary,2018,0,0,1,0,0,0,...,0,1,0,0,0,0,0,29180,10,1529532040
712327,8289196,John McCain: For Whom the Bell Tolls (2018),Documentary,2018,0,0,1,0,0,0,...,0,1,0,0,0,0,0,31367,10,1527819041
712328,8324578,Kevin James: Never Don't Give Up (2018),Comedy,2018,0,0,1,0,0,0,...,0,0,0,1,0,0,0,39594,4,1525101321
712329,8324578,Kevin James: Never Don't Give Up (2018),Comedy,2018,0,0,1,0,0,0,...,0,0,0,1,0,0,0,42089,4,1524861661
712330,8335880,Loro 2 (2018),Biography,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,0,30540,8,1526063965
712331,8342748,Hari Kondabolu: Warn Your Relatives (2018),Comedy,2018,0,0,1,0,0,0,...,0,0,0,1,0,0,0,5289,9,1527360601
712332,8342748,Hari Kondabolu: Warn Your Relatives (2018),Comedy,2018,0,0,1,0,0,0,...,0,0,0,1,0,0,0,42089,9,1526695909
712333,8342946,Tig Notaro: Happy To Be Here (2018),Comedy,2018,0,0,1,0,0,0,...,0,0,0,1,0,0,0,26919,2,1529291786
712334,8342946,Tig Notaro: Happy To Be Here (2018),Comedy,2018,0,0,1,0,0,0,...,0,0,0,1,0,0,0,42089,7,1527907556
712335,8402090,Cumali Ceber 2 (2018),Comedy,2018,0,0,1,0,0,0,...,0,0,0,1,0,0,0,15175,10,1528813301
712336,8439854,Lust Stories (2018),Drama,2018,0,0,1,0,0,0,...,0,0,0,0,0,0,0,22597,7,1529998547

In [548]:
means=df.groupby(['movie_id','movie'])['rating'].mean()
count=df.groupby(['movie_id','movie'])['rating'].count()
time=df.groupby(['movie_id','movie'])['timestamp'].max()
# convert df
df_result=pd.DataFrame({'means':means,'count':count,'timestamp':time})
# filter >=5
df_result=df_result[df_result['count']>=5].reset_index()
# order the result
result=df_result.sort_values(by=['means','count','timestamp'],ascending=False)
result

,movie_id,movie,means,count,timestamp
9432,4921860,MSG 2 the Messenger (2015),10.000000,48,1471195010
9584,5262972,Avengers: Age of Ultron Parody (2015),10.000000,28,1452213883
9718,5688932,Sorry to Bother You (2018),10.000000,14,1529199888
8035,2737018,Selam (2013),10.000000,10,1431298561
7883,2560840,"Quiet Riot: Well Now You're Here, There's No W...",10.000000,6,1453509044
7279,2219210,Crawl Bitch Crawl (2012),10.000000,6,1374535852
9238,4448444,Make Like a Dog (2015),10.000000,5,1504965108
9532,5131914,Pandorica (2016),10.000000,5,1459749142
6958,2059318,Third Contact (2011),10.000000,5,1392306511
5652,1431149,Romeo Juliet (2009),10.000000,5,1374859141
9658,5512872,Be Somebody (2016),9.985836,353,1526516958
9087,4148400,Birlesen Gonuller (2014),9.882353,17,1445556877
9925,6798422,Agnelli (2017),9.800000,5,1526423974
2094,111341,Sátántangó (1994),9.800000,5,1520582994
3926,423176,Shijie (2004),9.800000,5,1436063266
6050,1629443,Foster (2011),9.800000,5,1394926677
7917,2592910,CM101MMXI Fundamentals (2013),9.666667,9,1379684627
506,58888,Akahige (1965),9.666667,6,1503012354
7655,2396421,Crystal Lake Memories: The Complete History of...,9.666667,6,1483505894
4,12364,Körkarlen (1921),9.625000,8,1475259604
479,57565,Tengoku to jigoku (1963),9.600000,10,1523218106
9820,6054758,Kirik Party (2016),9.600000,5,1483599136
9534,5134588,Chasing Asylum (2016),9.600000,5,1468843303
3539,363473,Beyond the Sea (2004),9.600000,5,1429222706
7360,2265179,Blood Brother (2013),9.571429,7,1434305044
9613,5323386,Poshter Girl (2016),9.555556,9,1460222136
79,29843,The Adventures of Robin Hood (1938),9.500000,10,1461440045
235,45274,Umberto D. (1952),9.500000,8,1468649953
7536,2357788,Bridegroom (2013),9.428571,14,1452020164
9920,6781498,No Stone Unturned (2017),9.428571,7,1523818985
...,...,...,...,...,...
7027,2088923,The Cloth (2012),2.750000,8,1377823587
8439,3203620,The Dinner (2017),2.714286,21,1528006595
8856,3727824,The Ouija Experiment 2: Theatre of Death (2015),2.714286,7,1524330591
8058,2769184,Debug (2014),2.714286,7,1464737058
4212,466342,Date Movie (2006),2.666667,6,1520009428
6873,2006801,Night of the Living Dead: Resurrection (2012),2.666667,6,1388160456
8497,3283792,Erkek tarafi testosteron (2013),2.600000,5,1386602305
7469,2325518,Beneath (2013),2.444444,9,1459675194
2822,185183,Battlefield Earth (2000),2.437500,16,1476416514
5855,1540767,Apartment 1303 3D (2012),2.434783,23,1474306637
8709,3551400,Unnatural (2015),2.400000,5,1509581348
7535,2357489,Zanjeer (2013),2.400000,5,1382278390
2081,110978,The Return of the Texas Chainsaw Massacre (1994),2.333333,6,1506258667
9804,5988370,Reis (2016),2.285714,35,1489936416
4554,829176,Gallowwalkers (2012),2.269231,26,1517979551
8339,3104304,Ice Soldiers (2013),2.200000,5,1490398984
7943,2622826,Avalanche Sharks (2013),2.200000,5,1477685211
8716,3561236,Containment (2015),2.200000,5,1466196181
8293,3036740,Humshakals (2014),2.200000,5,1432784861
4983,1098327,Dragonball Evolution (2009),2.157895,19,1492335175
7157,2147365,Keith Lemon: The Film (2012),2.142857,21,1422751925
1898,105585,Thunderheart (1992),2.133333,15,1495428229
7895,2573750,Gulaab Gang (2014),2.000000,6,1420959882
9715,5669936,The Recall (2017),2.000000,5,1513951211
5209,1213644,Disaster Movie (2008),1.937500,16,1438495709
545,60666,Manos: The Hands of Fate (1966),1.857143,7,1525634290
8344,3108604,American Poltergeist (2015),1.800000,5,1509418952
8427,3187378,The Asian Connection (2016),1.666667,6,1499753596
9240,4458206,Kod Adi K.O.Z. (2015),1.000000,30,1516423452
9971,7923374,Badang (2018),1.000000,7,1519442511

In [549]:
result.merge(df,how='left')

,movie_id,movie,means,count,timestamp,genre,date,1800's,1900's,2000's,...,Game-Show,Action,Documentary,Animation,Comedy,Short,Western,Thriller,user_id,rating
0,4921860,MSG 2 the Messenger (2015),10.000000,48,1471195010,Comedy|Drama|Fantasy,2015,0,0,1,...,0,0,0,0,1,0,0,0,25615,10
1,5262972,Avengers: Age of Ultron Parody (2015),10.000000,28,1452213883,Short|Comedy,2015,0,0,1,...,0,0,0,0,1,1,0,0,12017,10
2,5688932,Sorry to Bother You (2018),10.000000,14,1529199888,Comedy|Fantasy|Sci-Fi,2018,0,0,1,...,0,0,0,0,1,0,0,0,50300,10
3,2737018,Selam (2013),10.000000,10,1431298561,Drama|Romance,2013,0,0,1,...,0,0,0,0,0,0,0,0,40675,10
4,2560840,"Quiet Riot: Well Now You're Here, There's No W...",10.000000,6,1453509044,Documentary|Music,2014,0,0,1,...,0,0,1,0,0,0,0,0,30109,10
5,2219210,Crawl Bitch Crawl (2012),10.000000,6,1374535852,Horror|Sci-Fi|Thriller,2012,0,0,1,...,0,0,0,0,0,0,0,1,2358,10
6,4448444,Make Like a Dog (2015),10.000000,5,1504965108,Short|Comedy|Drama,2015,0,0,1,...,0,0,0,0,1,1,0,0,9701,10
7,5131914,Pandorica (2016),10.000000,5,1459749142,Sci-Fi,2016,0,0,1,...,0,0,0,0,0,0,0,0,5463,10
8,2059318,Third Contact (2011),10.000000,5,1392306511,Mystery|Sci-Fi|Thriller,2011,0,0,1,...,0,0,0,0,0,0,0,1,32418,10
9,1431149,Romeo Juliet (2009),10.000000,5,1374859141,Drama,2009,0,0,1,...,0,0,0,0,0,0,0,0,12355,10
10,5512872,Be Somebody (2016),9.985836,353,1526516958,Comedy|Drama,2016,0,0,1,...,0,0,0,0,1,0,0,0,51267,10
11,4148400,Birlesen Gonuller (2014),9.882353,17,1445556877,Drama|History,2014,0,0,1,...,0,0,0,0,0,0,0,0,12204,9
12,6798422,Agnelli (2017),9.800000,5,1526423974,Documentary,2017,0,0,1,...,0,0,1,0,0,0,0,0,40323,9
13,111341,Sátántangó (1994),9.800000,5,1520582994,Comedy|Drama,1994,0,1,0,...,0,0,0,0,1,0,0,0,11102,10
14,423176,Shijie (2004),9.800000,5,1436063266,Drama,2004,0,0,1,...,0,0,0,0,0,0,0,0,43410,10
15,1629443,Foster (2011),9.800000,5,1394926677,Comedy|Drama|Family,2011,0,0,1,...,0,0,0,0,1,0,0,0,2428,10
16,2592910,CM101MMXI Fundamentals (2013),9.666667,9,1379684627,Documentary|Comedy,2013,0,0,1,...,0,0,1,0,1,0,0,0,48767,9
17,58888,Akahige (1965),9.666667,6,1503012354,Drama,1965,0,1,0,...,0,0,0,0,0,0,0,0,7115,9
18,2396421,Crystal Lake Memories: The Complete History of...,9.666667,6,1483505894,Documentary,2013,0,0,1,...,0,0,1,0,0,0,0,0,7702,8
19,12364,Körkarlen (1921),9.625000,8,1475259604,Drama|Fantasy|Horror,1921,0,1,0,...,0,0,0,0,0,0,0,0,27787,10
20,57565,Tengoku to jigoku (1963),9.600000,10,1523218106,Crime|Drama|Mystery,1963,0,1,0,...,0,0,0,0,0,0,0,0,13729,10
21,6054758,Kirik Party (2016),9.600000,5,1483599136,Drama,2016,0,0,1,...,0,0,0,0,0,0,0,0,27519,9
22,5134588,Chasing Asylum (2016),9.600000,5,1468843303,Documentary,2016,0,0,1,...,0,0,1,0,0,0,0,0,46811,8
23,363473,Beyond the Sea (2004),9.600000,5,1429222706,Biography|Drama|Music,2004,0,0,1,...,0,0,0,0,0,0,0,0,20392,8
24,2265179,Blood Brother (2013),9.571429,7,1434305044,Documentary,2013,0,0,1,...,0,0,1,0,0,0,0,0,48679,8
25,5323386,Poshter Girl (2016),9.555556,9,1460222136,Comedy,2016,0,0,1,...,0,0,0,0,1,0,0,0,27009,6
26,29843,The Adventures of Robin Hood (1938),9.500000,10,1461440045,Action|Adventure|Romance,1938,0,1,0,...,0,1,0,0,0,0,0,0,19035,9
27,45274,Umberto D. (1952),9.500000,8,1468649953,Drama,1952,0,1,0,...,0,0,0,0,0,0,0,0,24933,10
28,2357788,Bridegroom (2013),9.428571,14,1452020164,Documentary,2013,0,0,1,...,0,0,1,0,0,0,0,0,45167,10
29,6781498,No Stone Unturned (2017),9.428571,7,1523818985,Documentary,2017,0,0,1,...,0,0,1,0,0,0,0,0,35288,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9944,2088923,The Cloth (2012),2.750000,8,1377823587,Action|Fantasy|Horror,2012,0,0,1,...,0,1,0,0,0,0,0,0,53671,1
9945,3203620,The Dinner (2017),2.714286,21,1528006595,Drama|Mystery|Thriller,2017,0,0,1,...,0,0,0,0,0,0,0,1,43324,4
9946,3727824,The Ouija Experiment 2: Theatre of Death (2015),2.714286,7,1524330591,Horror,2015,0,0,1,...,0,0,0,0,0,0,0,0,29400,2
9947,2769184,Debug (2014),2.714286,7,1464737058,Horror|Sci-Fi,2014,0,0,1,...,0,0,0,0,0,0,0,0,27394,1
9948,466342,Date Movie (2006),2.666667,6,1520009428,Comedy|Romance,2006,0,0,1,...,0,0,0,0,1,0,0,0,4996,3
9949,2006801,Night of the Living Dead: Resurrection (2012),2.666667,6,1388160456,Horror,2012,0,0,1,...,0,0,0,0,0,0,0,0,36017,6
9950,3283792,Erkek tarafi testosteron (2013),2.600000,5,1386602305,Comedy|Drama,2013,0,0,1,...,0,0,0,0,1,0,0,0,43889,7
9951,2325518,Beneath (2013),2.444444,9,1459675194,Horror|Thriller,2013,0,0,1,...,0,0,0,0,0,0,0,1,10831,1
9952,185183,Battlefield Earth (2000),2.437500,16,1476416514,Action|Adventure|Sci-Fi,2000,0,0,1,...,0,1,0,0,0,0,0,0,32316,2
9953,1540767,Apartment 1303 3D (2012),2.434783,23,1474306637,Horror,2012,0,0,1,...,0,0,0,0,0,0,0,0,10948,4
9954,3551400,Unnatural (2015),2.400000,5,1509581348,Action|Horror|Thriller,2015,0,0,1,...,0,1,0,0,0,0,0,1,9075,1
9955,2357489,Zanjeer (2013),2.400000,5,1382278390,Action|Thriller,2013,0,0,1,...,0,1,0,0,0,0,0,1,51318,3
9956,110978,The Return of the Texas Chainsaw Massacre (1994),2.333333,6,1506258667,Comedy|Horror|Thriller,1994,0,1,0,...,0,0,0,0,1,0,0,1,3844,1
9957,5988370,Reis (2016),2.285714,35,1489936416,Biography|Drama,2016,0,0,1,...,0,0,0,0,0,0,0,0,19168,10
9958,829176,Gallowwalkers (2012),2.269231,26,1517979551,Action|Fantasy|Horror,2012,0,0,1,...,0,1,0,0,0,0,0,0,45986,3
9959,3104304,Ice Soldiers (2013),2.200000,5,1490398984,Action|Sci-Fi,2013,0,0,1,...,0,1,0,0,0,0,0,0,36102,3
9960,2622826,Avalanche Sharks (2013),2.200000,5,1477685211,Action|Horror|Sci-Fi,2013,0,0,1,...,0,1,0,0,0,0,0,0,27474,2
9961,3561236,Containment (2015),2.200000,5,1466196181,Horror|Sci-Fi|Thriller,2015,0,0,1,...,0,0,0,0,0,0,0,1,23909,1
9962,3036740,Humshakals (2014),2.200000,5,1432784861,Comedy,2014,0,0,1,...,0,0,0,0,1,0,0,0,18889,1
9963,1098327,Dragonball Evolution (2009),2.157895,19,1492335175,Action|Adventure|Fantasy,2009,0,0,1,...,0,1,0,0,0,0,0,0,42057,2
9964,2147365,Keith Lemon: The Film (2012),2.142857,21,1422751925,Comedy,2012,0,0,1,...,0,0,0,0,1,0,0,0,5440,3
9965,105585,Thunderheart (1992),2.133333,15,1495428229,Crime|Mystery|Thriller,1992,0,1,0,...,0,0,0,0,0,0,0,1,39033,1
9966,2573750,Gulaab Gang (2014),2.000000,6,1420959882,Action|Drama,2014,0,0,1,...,0,1,0,0,0,0,0,0,16034,2
9967,5669936,The Recall (2017),2.000000,5,1513951211,Horror|Sci-Fi|Thriller,2017,0,0,1,...,0,0,0,0,0,0,0,1,35149,2
9968,1213644,Disaster Movie (2008),1.937500,16,1438495709,Comedy,2008,0,0,1,...,0,0,0,0,1,0,0,0,34567,1
9969,60666,Manos: The Hands of Fate (1966),1.857143,7,1525634290,Horror,1966,0,1,0,...,0,0,0,0,0,0,0,0,50768,2
9970,3108604,American Poltergeist (2015),1.800000,5,1509418952,Thriller,2015,0,0,1,...,0,0,0,0,0,0,0,1,162,2
9971,3187378,The Asian Connection (2016),1.666667,6,1499753596,Action,2016,0,0,1,...,0,1,0,0,0,0,0,0,21481,1
9972,4458206,Kod Adi K.O.Z. (2015),1.000000,30,1516423452,Crime|Mystery,2015,0,0,1,...,0,0,0,0,0,0,0,0,22994,1
9973,7923374,Badang (2018),1.000000,7,1519442511,Comedy|Fantasy,2018,0,0,1,...,0,0,0,0,1,0,0,0,42850,1

In [556]:
def popular_filter(user_id, n_top, yearslist=None,genreslist=None):
    '''
    INPUT:
    user_id - the user_id of the individual you are making recommendations for
    n_top - an integer of the number recommendations you want back
    yearslist- a list of years to filter movie released year
    genreslist - a list of genres the movie is categoried into
    OUTPUT:
    top_movies - a list of the n_top recommended movies by movie title in order best to worst
    '''
    # Do stuff
    means=df.groupby(['movie_id','movie'])['rating'].mean()
    count=df.groupby(['movie_id','movie'])['rating'].count()
    time=df.groupby(['movie_id','movie'])['timestamp'].max()
    # convert df
    df_result=pd.DataFrame({'means':means,'count':count,'timestamp':time})
    # filter >=5
    df_result=df_result[df_result['count']>=5].reset_index()
    # order the result
    result=df_result.sort_values(by=['means','count','timestamp'],ascending=False)
    
    # merge df to obtain year and genres
    result=result.merge(df,how='left')
    # filter by year & genres
    if yearslist is not None:
        result=result[result['date'].isin(yearslist)]
    if genreslist is not None:
        result=result[result[genreslist].sum(axis=1)>0]
    # a list of the n_top recommended movies by movie title in order best to worst
    top_movies=list(result.iloc[:n_top,1].values)
    return top_movies # a list of the n_top movies as recommended

> check if pass the lists

In [557]:
popular_filter('1', 20, ['2015', '2016', '2017', '2018'], ['History'])==t.popular_recs_filtered('1', 20, ranked_movies, years=['2015', '2016', '2017', '2018'], genres=['History'])

True

> check if not passing the lists

In [558]:
popular_filter('1', 20)==recs_20_for_1

True

> check if pass one list

In [559]:
popular_filter('1', 20,['2015', '2016', '2017', '2018'])==t.popular_recs_filtered('1', 20, ranked_movies, years=['2015', '2016', '2017', '2018'])

True

In [560]:
t.popular_recs_filtered('1', 20, ranked_movies, genres=['History'])==popular_filter('1', 20,genreslist=['History'])

True