### Recommendations with MovieTweetings: Getting to Know The Data

Throughout this lesson, you will be working with the [MovieTweetings Data](https://github.com/sidooms/MovieTweetings/tree/master/recsyschallenge2014).  To get started, you can read more about this project and the dataset from the [publication here](http://crowdrec2013.noahlab.com.hk/papers/crowdrec2013_Dooms.pdf).

**Note:** There are solutions to each of the notebooks available by hitting the orange jupyter logo in the top left of this notebook.  Additionally, you can watch me work through the solutions on the screencasts that follow each workbook. 

To get started, read in the libraries and the two datasets you will be using throughout the lesson using the code below.

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tests as t
import re
%matplotlib inline


# Read in the MovieTweetings dataset originally taken from https://github.com/sidooms/MovieTweetings/tree/master/latest
movies = pd.read_csv('movies.dat', delimiter='::', header=None, names=['movie_id', 'movie', 'genre'], dtype={'movie_id': object}, engine='python')
reviews = pd.read_csv('ratings.dat', delimiter='::', header=None, names=['user_id', 'movie_id', 'rating', 'timestamp'], dtype={'movie_id': object, 'user_id': object, 'timestamp': object}, engine='python')

#### 1. Take a Look At The Data 

Take a look at the data and use your findings to fill in the dictionary below with the correct responses to show your understanding of the data.

In [29]:
movies.head()

,movie_id,movie,genre
0,0000008,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short
1,0000010,La sortie des usines Lumi猫re (1895),Documentary|Short
2,0000012,The Arrival of a Train (1896),Documentary|Short
3,25,The Oxford and Cambridge University Boat Race ...,NaN
4,0000091,Le manoir du diable (1896),Short|Horror

In [30]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35479 entries, 0 to 35478
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  35479 non-null  object
 1   movie     35479 non-null  object
 2   genre     35230 non-null  object
dtypes: object(3)
memory usage: 831.7+ KB

In [31]:
len(movies['genre'].unique())

2737

In [32]:
reviews.head()

  user_id  movie_id  rating   timestamp
0       1   0114508       8  1381006850
1       2   0208092       5  1586466072
2       2   0358273       9  1579057827
3       2  10039344       5  1578603053
4       2   6751668       9  1578955697

In [33]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 863866 entries, 0 to 863865
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    863866 non-null  object
 1   movie_id   863866 non-null  object
 2   rating     863866 non-null  int64
 3   timestamp  863866 non-null  object
dtypes: int64(1), object(3)
memory usage: 26.4+ MB

In [34]:
len(reviews['user_id'].unique())

67353

In [35]:
reviews[reviews['rating']==0].shape[0]

261

In [36]:
reviews.describe()

              rating
count  863866.000000
mean        7.315878
std         1.853831
min         0.000000
25%         6.000000
50%         8.000000
75%         9.000000
max        10.000000

In [37]:
# number of genres
movies['genre'].str.get_dummies().shape[1]

28

In [38]:
# Use your findings to match each variable to the correct statement in the dictionary


dict_sol1 = {
'The number of movies in the dataset': movies.shape[0],
'The number of ratings in the dataset': reviews.shape[0],
'The number of different genres':movies['genre'].str.get_dummies().shape[1],
'The number of unique users in the dataset':len(reviews['user_id'].unique()),
'The number missing ratings in the reviews dataset':reviews.isna().sum().sum(),
'The average rating given across all ratings': round(reviews['rating'].mean(),0),
'The minimum rating given across all ratings':reviews['rating'].min(),
'The maximum rating given across all ratings':reviews['rating'].max()
}

# Originally, I had this to check your solution, but the 
# links are live and updating.  That didn't end up being
# a great idea
t.q1_check(dict_sol1)

That looks good to me!

#### 2. Data Cleaning

Next, we need to pull some additional relevant information out of the existing columns. 

For each of the datasets, there are a couple of cleaning steps we need to take care of:

#### Movies
* Pull the date from the title and create new column
* Dummy the date column with 1's and 0's for each century of a movie (1800's, 1900's, and 2000's)
* Dummy column the genre with 1's and 0's

#### Reviews
* Create a date out of time stamp

You can check your results against the header of my solution by running the cell below with the **show_clean_dataframes** function.

In [39]:
#Pull the date from the title and create new column
movies['titile']=movies['movie'].apply(lambda x: x.split('(')[0])

In [40]:
# Dummy the date column with 1's and 0's for each century of a movie (1800's, 1900's, and 2000's)
movies['century']=movies['movie'].apply(lambda x: int(x.split('(')[1].replace(')','')))

In [41]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35479 entries, 0 to 35478
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  35479 non-null  object
 1   movie     35479 non-null  object
 2   genre     35230 non-null  object
 3   titile    35479 non-null  object
 4   century   35479 non-null  int64
dtypes: int64(1), object(4)
memory usage: 1.4+ MB

In [42]:
def yeartocentury(x):
    if x >=1800 and x<1900:
        return "1800's"
    elif x>=1900 and x<2000:
        return "1900's"
    elif x>=2000:
        return "2000's"

In [43]:
movies['century']=movies['century'].apply(yeartocentury)

In [44]:
# dummy columns for century
movies=pd.get_dummies(data=movies,columns=['century'])

In [45]:
# dummy columns for genre
movies=movies.merge(movies['genre'].str.get_dummies(),left_index=True, right_index=True)

In [46]:
# remove 0s in id
movies['movie_id']=movies['movie_id'].astype(int).astype(str)

In [47]:
# drop columns 
movies_clean=movies.drop(['movie','genre'],axis=1)
movies_clean.head()

,movie_id,titile,century_1800's,century_1900's,century_2000's,Action,Adult,Adventure,Animation,Biography,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,8,Edison Kinetoscopic Record of a Sneeze,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,10,La sortie des usines Lumi猫re,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,12,The Arrival of a Train,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,25,The Oxford and Cambridge University Boat Race,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,91,Le manoir du diable,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [48]:
#Create a date out of time stamp
reviews['date']=pd.to_datetime(reviews['timestamp'],unit='s')

In [49]:
# remove 0s in id
reviews['movie_id']=reviews['movie_id'].astype(int).astype(str)

In [50]:
# extract year and month
reviews['year']=reviews['date'].dt.year
reviews['month']=reviews['date'].dt.month

In [51]:
reviews=pd.get_dummies(data=reviews,columns=['year','month'])

In [52]:
# drop extra columns
reviews.drop(['timestamp'], axis=1,inplace=True)

In [53]:
reviews.head()

,user_id,movie_id,rating,date,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,1,114508,8,2013-10-05 21:00:50,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,2,208092,5,2020-04-09 21:01:12,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,2,358273,9,2020-01-15 03:10:27,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,10039344,5,2020-01-09 20:50:53,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,6751668,9,2020-01-13 22:48:17,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
reviews_new, movies_new = t.show_clean_dataframes()

   Unnamed: 0  user_id  movie_id  rating   timestamp                 date  \
0           0        1     68646      10  1381620027  2013-10-12 23:20:27
1           1        1    113277      10  1379466669  2013-09-18 01:11:09
2           2        2    422720       8  1412178746  2014-10-01 15:52:26
3           3        2    454876       8  1394818630  2014-03-14 17:37:10
4           4        2    790636       7  1389963947  2014-01-17 13:05:47

   month_1  month_2  month_3  month_4  ...  month_9  month_10  month_11  \
0        0        0        0        0  ...        0         1         0
1        0        0        0        0  ...        0         0         0
2        0        0        0        0  ...        0         1         0
3        0        0        0        0  ...        0         0         0
4        0        0        0        0  ...        0         0         0

   month_12  year_2013  year_2014  year_2015  year_2016  year_2017  year_2018
0         0          1          0          0          0          0          0
1         0          1          0          0          0          0          0
2         0          0          1          0          0          0          0
3         0          0          1          0          0          0          0
4         0          0          1          0          0          0          0

[5 rows x 24 columns]
   Unnamed: 0  movie_id                                              movie  \
0           0         8      Edison Kinetoscopic Record of a Sneeze (1894)
1           1        10                La sortie des usines Lumière (1895)
2           2        12                      The Arrival of a Train (1896)
3           3        25  The Oxford and Cambridge University Boat Race ...
4           4        91                         Le manoir du diable (1896)

               genre  date  1800's  1900's  2000's  History  News  ...  \
0  Documentary|Short  1894       1       0       0        0     0  ...
1  Documentary|Short  1895       1       0       0        0     0  ...
2  Documentary|Short  1896       1       0       0        0     0  ...
3                NaN  1895       1       0       0        0     0  ...
4       Short|Horror  1896       1       0       0        0     0  ...

   Fantasy  Romance  Game-Show  Action  Documentary  Animation  Comedy  Short  \
0        0        0          0       0            1          0       0      1
1        0        0          0       0            1          0       0      1
2        0        0          0       0            1          0       0      1
3        0        0          0       0            0          0       0      0
4        0        0          0       0            0          0       0      1

   Western  Thriller
0        0         0
1        0         0
2        0         0
3        0         0
4        0         0

[5 rows x 36 columns]